/*Styles specific to Welcome Page below*/

body {
    width: 1000px;
    margin: 0 auto;
}

header {
    width: 1000px;
    height: 72px;
    background-color: #fffabe;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #515151

}

header ul li {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    padding: 30px 35px;
    text-transform: uppercase;
}

header #logo {
    float:left;
    padding: 15px 30px;
}

a, a:visited {
    text-decoration: none;
    color: #515151
}

a:hover {
    color: #d42551;
}
#welcome {
    width:1000px;
    height:400px;
}

.left_div {
    margin: 0 48px;
    transform: translate(0, 165px);
}

.right_div {
    display: inline-block;
    vertical-align: top;
    transform: translate(299px, -260px);
    width: 68%;
}

.titles {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
    transform: translate(0, 125px);
}
.main-content {
    display: inline-block;
    width: 1000px;
}

.main-content p {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    transform: translate(0, 125px);
}

#flavors {
    width: 500px;
    height: 140px;
    display: inline-flex;
}

#flavors > div {
    width: 126px;
    height: 100px;
    background-color: #fffabe;
    margin-right: 19px;
    padding-top: 10px;
}

#flavors div div {
    width:126px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;


}

#flavors div div:first-child{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}

#flavors div div:nth-child(2), #flavors div div:nth-of-type(3){
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6a6969;
}



#coconut {
    background-color: #824603;
    color:white;
}

#greentea {
    color:#6a6969;
}

#vanilla {
    background-color: #df5277;
    color:white;
}

#pistachio {
    color:#6a6969;
}
#flavors div div:nth-child(odd){
    padding: 5px 0 5px 5px;
}

#flavors div div:nth-of-type(4){
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 12px;

}
#lemon {
    background-color: #a2304e;
    color:white;
}

#tiffany {
    color:#6a6969;
}
#almond {
    background-color: #c39005;
    color:white;
}


#flavors div div:nth-child(odd) img {
    float: right;
    transform: translate(0, -25%);
}

#flavors div div:nth-child(even) img{
    float: right;
    transform: translate(0,-25%);
}

footer {
    background-color: #df5277;
    width: 1000px;
    height: 80px;
}

footer img {
    margin: 0 1em 0 1em;
}

footer div{
    display: inline-block;
    margin-left: 110px;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #ffffff;
}


/*Styles specific to Our Macarons page*/
#our-macarons {
    width: 1000px;
    height: 400px;
}

.titlemac {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
    margin-top: 10%;
    margin-left: 5%;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.classics_list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.classics-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
}

#recommendedserv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    margin-left: 5%;
    margin-bottom: 8%;
}

.macaron_index {
    background: url("assets/images/our-macarons-background.png") no-repeat;
    padding: 2% 0;
}


#datecreated{
    font-size: 11px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 360px;
}
/*Styles specific to Gifts & Parties page */
#order {
    color: #df5277;
}

.box_list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 2.5%;
}

.gift_index {
    background: url("assets/images/gifts-parties-background.png") no-repeat;
    padding: 2% 0;
    margin-bottom: 4%;
    margin-top: -4%
}

.titlegift {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
    margin-top: 7%;
    margin-left: 5%;
}
/*Styles specific to Contact page below*/
.contitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
    margin-bottom: 5%;
    margin-top: 8%;
}

.left_con {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
    line-height: 92%;
    display: inline-block;
    margin-left: 5%;
    width: 33%;
}

.con {
    width: 90%;
    height: 35px;
    background-color: #f5f5f5;
    border-style: none;
    margin-bottom: 5%;
}

.message {
    height: 6em;
    width: 90%;
    background-color: #f5f5f5;
    border-style: none;
}

.cont {
    width: 40%;
    height:35px;
    background-color: #f5f5f5;
    border-style: none;
    margin-top:5%;
    margin-left:50%;
}

.main_con {
    display: inline-block;
    margin-bottom: 10%;
}

.center_con {
    display:inline-block;
    width:40%;
}
.right_con {
    display:inline-block;
}

#conmacarons {
    margin-bottom:40%
}

hr{
    /*visibility: hidden;*/
    display:none;
}



    /*STYLE FOR EXTRA SMALL SCREENS*/
@media screen and (max-device-width: 375px){
    body {
        width: 1000px;
        margin: 0 auto;
    }

    header {
        width: 1000px;
        height: 72px;
        background-color: #fffabe;
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #515151

    }

    header ul li {
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
        padding: 30px 35px;
        text-transform: uppercase;
    }

    header #logo {
        float:left;
        padding: 15px 30px;
    }

    a, a:visited {
        text-decoration: none;
        color: #515151
    }

    a:hover {
        color: #d42551;
    }
    #welcome {
        width:1000px;
        height:400px;
    }

    .left_div {
        margin: 0 48px;
        transform: translate(0, 165px);
    }

    .right_div {
        display: inline-block;
        vertical-align: top;
        transform: translate(299px, -260px);
        width: 68%;
    }

    .titles {
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #6a6969;
        transform: translate(0, 125px);
    }
    .main-content {
        display: inline-block;
        width: 1000px;
    }

    .main-content p {
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        transform: translate(0, 125px);
    }

    #flavors {
        width: 500px;
        height: 140px;
        display: inline-flex;
    }

    #flavors > div {
        width: 126px;
        height: 100px;
        background-color: #fffabe;
        margin-right: 19px;
        padding-top: 10px;
    }

    #flavors div div {
        width:126px;
        padding: 5px 0 5px 5px;
        box-sizing: border-box;


    }

    #flavors div div:first-child{
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
    }

    #flavors div div:nth-child(2), #flavors div div:nth-of-type(3){
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #6a6969;
    }



    #coconut {
        background-color: #824603;
        color:white;
    }

    #greentea {
        color:#6a6969;
    }

    #vanilla {
        background-color: #df5277;
        color:white;
    }

    #pistachio {
        color:#6a6969;
    }
    #flavors div div:nth-child(odd){
        padding: 5px 0 5px 5px;
    }

    #flavors div div:nth-of-type(4){
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 12px;

    }
    #lemon {
        background-color: #a2304e;
        color:white;
    }

    #tiffany {
        color:#6a6969;
    }
    #almond {
        background-color: #c39005;
        color:white;
    }


    #flavors div div:nth-child(odd) img {
        float: right;
        transform: translate(0, -25%);
    }

    #flavors div div:nth-child(even) img{
        float: right;
        transform: translate(0,-25%);
    }

    footer {
        background-color: #df5277;
        width: 1000px;
        height: 80px;
    }

    footer img {
        margin: 0 1em 0 1em;
    }

    footer div{
        display: inline-block;
        margin-left: 110px;
        margin-top: 10px;
        font-size: 14px;
        font-family: Arial, Arial, Helvetica, sans-serif;
        color: #ffffff;
    }


    /*Styles specific to Our Macarons page*/
    #our-macarons {
        width: 1000px;
        height: 400px;
    }

    .titlemac {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #6a6969;
        margin-top: 10%;
        margin-left: 5%;
    }

    .main-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .classics_list {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .classics-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #6a6969;
    }

    #recommendedserv {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        margin-left: 5%;
        margin-bottom: 8%;
    }

    .macaron_index {
        background: url("assets/images/our-macarons-background.png") no-repeat;
        padding: 2% 0;
    }


    #datecreated{
        font-size: 11px;
        font-family: Arial, Arial, Helvetica, sans-serif;
        color: #ffffff;
        margin-left: 360px;
    }
    /*Styles specific to Gifts & Parties page */
    #order {
        color: #df5277;
    }

    .box_list {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        margin-top: 2.5%;
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .gift_index {
        background: url("assets/images/gifts-parties-background.png") no-repeat;
        padding: 2% 0;
        margin-bottom: 4%;
        margin-top: -4%
    }

    .titlegift {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #6a6969;
        margin-top: 7%;
        margin-left: 5%;
    }
    /*Styles specific to Contact page below*/
    .contitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #6a6969;
        margin-bottom: 5%;
        margin-top: 8%;
    }

    .left_con {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #6a6969;
        line-height: 92%;
        display: inline-block;
        margin-left: 5%;
        width: 33%;
    }

    .con {
        width: 90%;
        height: 35px;
        background-color: #f5f5f5;
        border-style: none;
        margin-bottom: 5%;
    }

    .message {
        height: 6em;
        width: 90%;
        background-color: #f5f5f5;
        border-style: none;
    }

    .cont {
        width: 40%;
        height:35px;
        background-color: #f5f5f5;
        border-style: none;
        margin-top:5%;
        margin-left:50%;
    }

    .main_con {
        display: inline-block;
        margin-bottom: 10%;
    }

    .center_con {
        display:inline-block;
        width:40%;
    }
    .right_con {
        display:inline-block;
    }

    #conmacarons {
        margin-bottom:40%
    }

    hr{
        /*visibility: hidden;*/
        display:none;
    }
}




